on:
  workflow_dispatch: {}
  pull_request: {}
  push:
    branches:
      - dev
    paths:
      - .github/workflows/semgrep.yml
  schedule:
    # random HH:MM to avoid a load spike on GitHub Actions at 00:00
    - cron: 11 2 * * *
name: Semgrep
jobs:
  semgrep:
    if: github.event.pull_request.draft == false
    name: Semgrep/ci Job
    runs-on: ubuntu-22.04
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: semgrep/semgrep@sha256:ba8b9988d722e50f67687d167d1bb91ee1bf3c04057412dc9077e729ffa2e401
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - run: semgrep ci
